/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

button {
  background-color: #7552f6;
  color: white;
  font-family: "Lato", sans-serif;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 20px;
  outline: none;
}
button:hover {
  background-color: #9897ee;
}

@media only screen and (max-width: 750px) {
  button {
    width: 120px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  button {
    width: 80px;
    height: 35px;
    font-size: 15px;
  }
}
